In [1]:
import pandas as pd
from matplotlib import pyplot as plt
pd.set_option('display.max_rows', 200)

In [2]:
nba = pd.read_csv('nba.csv')

In [3]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0

In [4]:
nba.set_index('Name').head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0

In [5]:
nba.set_index(['Name','Team']).head()

,,Number,Position,Age,Height,Weight,College,Salary
Name,Team,,,,,,,
Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0

In [6]:
nba.Name.iloc[400,]

'Kevin Garnett'

In [7]:
nba.Name.loc[ : ]

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
452       Trey Lyles
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
Name: Name, Length: 457, dtype: object

In [8]:
nba.Name.loc[0:5]

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
5     Amir Johnson
Name: Name, dtype: object

In [9]:
nba.Name

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
452       Trey Lyles
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
Name: Name, Length: 457, dtype: object

In [53]:
boston = nba[nba.Team == "Boston Celtics"]

In [54]:
boston

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90,PF,29,9-Jun,240,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55,PF,21,8-Jun,235,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41,C,25,Jul-00,238,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12,PG,22,2-Jun,190,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36,PG,22,4-Jun,220,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7,C,24,9-Jun,260,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4,PG,27,9-May,185,Washington,6912869.0
12,Evan Turner,Boston Celtics,11,SG,27,7-Jun,220,Ohio State,3425510.0
13,James Young,Boston Celtics,13,SG,20,6-Jun,215,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44,C,26,Jul-00,253,North Carolina,2616975.0

In [55]:
utah = nba[nba.Team == "Utah Jazz"]

In [56]:
utah

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
442,Trevor Booker,Utah Jazz,33,PF,28,8-Jun,228,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3,PG,23,1-Jun,191,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10,SG,24,6-Jun,214,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11,PG,20,6-Jun,190,NaN,3777720.0
446,Derrick Favors,Utah Jazz,15,PF,24,10-Jun,265,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27,C,23,1-Jul,245,NaN,1175880.0
448,Gordon Hayward,Utah Jazz,20,SF,26,8-Jun,226,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5,SG,23,8-Jun,206,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2,SF,28,8-Jun,226,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23,SF,26,6-Jun,206,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0

In [14]:
nba2 = nba.pivot_table(index =['Team','Name','Salary','Weight','Age'], columns = 'Position')
nba2

                                                         Number             \
Position                                                      C   PF    PG
Team               Name            Salary     Weight Age
Atlanta Hawks      Al Horford      12000000.0 245    30    15.0  NaN   NaN
                   Dennis Schroder 1763400.0  172    22     NaN  NaN  17.0
                   Jeff Teague     8000000.0  186    27     NaN  NaN   0.0
                   Kent Bazemore   2000000.0  201    26     NaN  NaN   NaN
                   Kirk Hinrich    2854940.0  190    35     NaN  NaN   NaN
...                                                         ...  ...   ...
Washington Wizards Marcus Thornton 200600.0   205    29     NaN  NaN   NaN
                   Markieff Morris 8000000.0  245    26     NaN  5.0   NaN
                   Nene Hilario    13000000.0 250    33    42.0  NaN   NaN
                   Otto Porter Jr. 4662960.0  198    23     NaN  NaN   NaN
                   Ramon Sessions  2170465.0  190    30     NaN  NaN   7.0


Position                                                    SF    SG
Team               Name            Salary     Weight Age
Atlanta Hawks      Al Horford      12000000.0 245    30    NaN   NaN
                   Dennis Schroder 1763400.0  172    22    NaN   NaN
                   Jeff Teague     8000000.0  186    27    NaN   NaN
                   Kent Bazemore   2000000.0  201    26   24.0   NaN
                   Kirk Hinrich    2854940.0  190    35    NaN  12.0
...                                                        ...   ...
Washington Wizards Marcus Thornton 200600.0   205    29   15.0   NaN
                   Markieff Morris 8000000.0  245    26    NaN   NaN
                   Nene Hilario    13000000.0 250    33    NaN   NaN
                   Otto Porter Jr. 4662960.0  198    23   22.0   NaN
                   Ramon Sessions  2170465.0  190    30    NaN   NaN

[446 rows x 5 columns]

In [93]:
nba.loc[nba.Team =='Atlanta Hawks', :]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
309,Kent Bazemore,Atlanta Hawks,24,SF,26,5-Jun,201,Old Dominion,2000000.0
310,Tim Hardaway Jr.,Atlanta Hawks,10,SG,24,6-Jun,205,Michigan,1304520.0
311,Kirk Hinrich,Atlanta Hawks,12,SG,35,4-Jun,190,Kansas,2854940.0
312,Al Horford,Atlanta Hawks,15,C,30,10-Jun,245,Florida,12000000.0
313,Kris Humphries,Atlanta Hawks,43,PF,31,9-Jun,235,Minnesota,1000000.0
314,Kyle Korver,Atlanta Hawks,26,SG,35,7-Jun,212,Creighton,5746479.0
315,Paul Millsap,Atlanta Hawks,4,PF,31,8-Jun,246,Louisiana Tech,18671659.0
316,Mike Muscala,Atlanta Hawks,31,PF,24,11-Jun,240,Bucknell,947276.0
317,Lamar Patterson,Atlanta Hawks,13,SG,24,5-Jun,225,Pittsburgh,525093.0
318,Dennis Schroder,Atlanta Hawks,17,PG,22,1-Jun,172,NaN,1763400.0
319,Mike Scott,Atlanta Hawks,32,PF,27,8-Jun,237,Virginia,3333333.0
320,Thabo Sefolosha,Atlanta Hawks,25,SF,32,7-Jun,220,NaN,4000000.0
321,Tiago Splitter,Atlanta Hawks,11,C,31,11-Jun,245,NaN,9756250.0
322,Walter Tavares,Atlanta Hawks,22,C,24,3-Jul,260,NaN,1000000.0
323,Jeff Teague,Atlanta Hawks,0,PG,27,2-Jun,186,Wake Forest,8000000.0

In [58]:
nba.dtypes

Name         object
Team         object
Number        int64
Position     object
Age           int64
Height       object
Weight        int64
College      object
Salary      float64
dtype: object

In [41]:
pd.crosstab(nba.Team,nba.Position)

Position                C  PF  PG  SF  SG
Team
Atlanta Hawks           3   4   2   2   4
Boston Celtics          3   3   4   1   4
Brooklyn Nets           2   4   3   0   6
Charlotte Hornets       3   3   3   1   5
Chicago Bulls           2   5   2   2   4
Cleveland Cavaliers     3   2   3   2   5
Dallas Mavericks        3   4   4   2   2
Denver Nuggets          3   2   3   3   4
Detroit Pistons         3   2   4   4   2
Golden State Warriors   3   2   2   5   3
Houston Rockets         2   4   2   3   4
Indiana Pacers          2   4   4   3   2
Los Angeles Clippers    2   3   3   4   3
Los Angeles Lakers      3   4   3   4   1
Memphis Grizzlies       1   6   5   3   3
Miami Heat              1   4   2   5   3
Milwaukee Bucks         2   3   4   3   4
Minnesota Timberwolves  3   4   3   3   1
New Orleans Pelicans    3   3   4   4   5
New York Knicks         2   4   2   4   4
Oklahoma City Thunder   3   3   2   3   4
Orlando Magic           2   4   4   1   3
Philadelphia 76ers      2   5   4   2   2
Phoenix Suns            3   2   4   3   3
Portland Trail Blazers  3   3   2   2   5
Sacramento Kings        3   2   2   4   4
San Antonio Spurs       4   2   3   2   4
Toronto Raptors         3   4   3   3   2
Utah Jazz               3   3   4   3   2
Washington Wizards      3   2   2   4   4

In [39]:
pd.crosstab(nba.Team,nba.College)

College,Alabama,Arizona,Arizona State,Arkansas,Baylor,Belmont,Blinn College,Boston College,Boston University,Bowling Green,...,Washington State,Weber State,Westchester CC,Western Carolina,Western Kentucky,Western Michigan,Wichita State,Wisconsin,Wyoming,Xavier
Team,,,,,,,,,,,,,,,,,,,,,
Atlanta Hawks,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Boston Celtics,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Brooklyn Nets,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Charlotte Hornets,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
Chicago Bulls,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Cleveland Cavaliers,1,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Dallas Mavericks,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
Denver Nuggets,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Detroit Pistons,0,1,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
Golden State Warriors,0,1,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
Houston Rockets,0,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Indiana Pacers,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
Los Angeles Clippers,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Los Angeles Lakers,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
Memphis Grizzlies,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Miami Heat,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Milwaukee Bucks,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Minnesota Timberwolves,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
New Orleans Pelicans,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
New York Knicks,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
Oklahoma City Thunder,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Orlando Magic,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Philadelphia 76ers,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
Phoenix Suns,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Portland Trail Blazers,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
Sacramento Kings,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
San Antonio Spurs,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
Toronto Raptors,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Utah Jazz,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Washington Wizards,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0

In [15]:
df