In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
fin = pd.read_csv('Financial_Sample.csv')

In [3]:
fin.head(10)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",1/1/2014,1,January,2014
1,Government,Germany,Carretera,None,1321.0,$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",1/1/2014,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",6/1/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",6/1/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",6/1/2014,6,June,2014
5,Government,Germany,Carretera,None,1513.0,$3.00,$350.00,"$529,550.00",$-,"$529,550.00","$393,380.00","$136,170.00",12/1/2014,12,December,2014
6,Midmarket,Germany,Montana,None,921.0,$5.00,$15.00,"$13,815.00",$-,"$13,815.00","$9,210.00","$4,605.00",3/1/2014,3,March,2014
7,Channel Partners,Canada,Montana,None,2518.0,$5.00,$12.00,"$30,216.00",$-,"$30,216.00","$7,554.00","$22,662.00",6/1/2014,6,June,2014
8,Government,France,Montana,None,1899.0,$5.00,$20.00,"$37,980.00",$-,"$37,980.00","$18,990.00","$18,990.00",6/1/2014,6,June,2014
9,Channel Partners,Germany,Montana,None,1545.0,$5.00,$12.00,"$18,540.00",$-,"$18,540.00","$4,635.00","$13,905.00",6/1/2014,6,June,2014

In [4]:
fin.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",1/1/2014,1,January,2014
1,Government,Germany,Carretera,None,1321.0,$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",1/1/2014,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",6/1/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",6/1/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",6/1/2014,6,June,2014

In [5]:
fin.rename(columns = {"Month Number": "Month_Number"}, inplace = True)

In [6]:
fin.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month_Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",1/1/2014,1,January,2014
1,Government,Germany,Carretera,None,1321.0,$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",1/1/2014,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",6/1/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",6/1/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",6/1/2014,6,June,2014

In [7]:
fin.pivot_table(index=['Year','Date','Segment','Month_Number'], columns='Country')

                                               Units Sold               \
Country                                            Canada       France
Year Date      Segment          Month_Number
2013 10/1/2013 Channel Partners 10            2299.000000  1198.000000
               Enterprise       10             345.000000   704.000000
               Government       10            1822.666667  1745.333333
               Midmarket        10            1743.000000  2167.000000
               Small Business   10             269.000000  1221.000000
...                                                   ...          ...
2014 9/1/2014  Channel Partners 9             1445.000000  2671.000000
               Enterprise       9              567.000000   663.000000
               Government       9             1056.333333  1651.666667
               Midmarket        9              218.000000  2620.000000
               Small Business   9             2134.000000  2151.000000

                                                                   \
Country                                           Germany  Mexico
Year Date      Segment          Month_Number
2013 10/1/2013 Channel Partners 10             766.000000   367.0
               Enterprise       10             809.000000  2145.0
               Government       10            2372.333333  1262.0
               Midmarket        10            1945.000000  1514.0
               Small Business   10             214.000000   494.0
...                                                   ...     ...
2014 9/1/2014  Channel Partners 9             1580.000000   562.0
               Enterprise       9             2087.000000  2110.0
               Government       9             1995.666667  2364.0
               Midmarket        9              747.000000  2472.0
               Small Business   9              986.000000   432.0


Country                                      United States of America
Year Date      Segment          Month_Number
2013 10/1/2013 Channel Partners 10                         386.000000
               Enterprise       10                         663.000000
               Government       10                        1330.000000
               Midmarket        10                         671.000000
               Small Business   10                        2294.000000
...                                                               ...
2014 9/1/2014  Channel Partners 9                         1947.000000
               Enterprise       9                         1596.000000
               Government       9                         1818.333333
               Midmarket        9                         1767.000000
               Small Business   9                         1867.000000

[80 rows x 5 columns]

In [0]:
df=fin.loc[["Country","Year","Profit"]]